:root {
    --branding-color: radial-gradient(circle at 10% 20%, rgb(0, 107, 141) 0%, rgb(0, 69, 91) 90%);
    --secondary-color: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);

    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 54px;
}

h4 {
    font-size: 48px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.hero {
    background-image: url("../images/waterlily.jpeg");
    text-align: center;
    padding: 160px 20px;

}

.hero p {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: black;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.content-container {
    padding: 70px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background-color: #212529;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 80%;
}

.btn-branding:hover {
    transform: scale(1.1);
    color: white;
}

.btn-branding-outline {
    color: white;
    border: 1px solid var(--branding-color);
    background: var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
    margin-bottom: 20px;
}

.btn-branding-outline:hover {
    transform: scale(1.2);
    color: white;
}

.project-description {
    padding: 0px 60px;
}

@media (max-width:900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

    h4 {
        font-size: 26px;
    }



    .hero {
        padding: 80px 20px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.img-index {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0;

}

.img-about {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 450px;
    margin-top: 60px;
}


.invite-text-index {
    color: black;
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 22px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact-text {
    font-family: var(--heading-font-family);
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-links a {
    margin: 0 20px;
    color: white;
    background-color: rgb(0, 69, 91);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: rgb(0, 69, 91);
    background-color: white;
    border: 1px solid rgb(0, 69, 91);
}

footer .contact-box {
    background-color: rgb(0, 69, 91);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer {
    margin: 60px 0;
}

.footer-title {
    color: white;
}


.btn-footer {
    background-color: white;
    border-radius: 4px;
    color: rgb(0, 69, 91);
    border: 1px solid white;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 90%;
}

.btn-footer:hover {
    transform: scale(1.1);
}